@import "../../style.scss";

.onScrollActive {
    color: black !important;
    border-bottom: 1px solid #c2c2c2;

    .center {

        ul {
            li {
                .active{
                    &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: black !important;
                }
                }
                &:after {
                    background-color: black !important;
                }

                .dropdown-content{
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
                    }
                a {
                    color: black !important;

                    
                }

            }

        }

    }

    .right {

        p {
            border: 2px solid rgb(124, 124, 124) !important;
        }
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-size: cover;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
    transition: all .4s ease-in-out;

    .left {


        h1 {
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
            // color: #17234D;

            span {
                color: rgb(245, 129, 37);
            }
        }
    }

    .center {

        ul {
            text-decoration: none;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            @include tablet {
                display: none;
            }

            li {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                cursor: pointer;
                position: relative;

                .active{
                    &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: #fff;
                }
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    transition: 0.4s;
                    height: 2px;
                    bottom: -5px;
                    left: 50%;
                    background-color: #fff;
                }

                .dropdown-content {
                    display: flex;
                    padding: 30px;
                    flex-direction: column;
                    position: absolute;
                    top: 60px;
                    gap: 20px;
                    min-width: auto;
                    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    z-index: 1;

                    li {

                        &:hover {
                            display: block;

                        }

                        a {
                            text-decoration: none;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }

        }
    }

    .right {
        p {
            font-family: 'Montserrat', sans-serif;
            padding: 5px 15px;
            border: 2px solid white;
            cursor: pointer;
        }
    }
}