/* styles.css */

/* Other styles for the navbar */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    padding: 10px;
  }
  
  .dropdown-content li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-content li:hover {
    background-color: #F2F2F2;
  }
  
  nav li:hover .dropdown-content {
    display: block;
  }
  