@import "../../style.scss";

.onScrollActive {
    color: black !important;
    border-bottom: 1px solid #c2c2c2;

    .center {

        ul {
            li {
                .active{
                    &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: black !important;
                }
                }
                &:after {
                    background-color: black !important;
                }

                .dropdown-content{
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
                    }
                a {
                    color: black !important;

                    
                }

            }

        }

    }

    .right {

        p {
            border: 2px solid rgb(124, 124, 124) !important;
        }
    }

    .mobileV{
        .mobile-toggle{
            cursor: pointer;
            span{
                background-color: #000 !important;
            }
        }

        ul{
            background-color: rgba(0, 0, 0, .8) !important;
            li{
                background-color: white !important;
                color: black !important;

                a{
                color: black !important;
                }
            }
        }

    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-size: cover;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
    transition: all .4s ease-in-out;

    .left {


        h1 {
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
            // color: #17234D;

            span {
                color: rgb(245, 129, 37);
            }
        }
    }

    .center {
        @include mobile{
            display: none;
        }

        ul {
            text-decoration: none;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            li {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                cursor: pointer;
                position: relative;

                .active{
                    &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: #fff;
                }
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    transition: 0.4s;
                    height: 2px;
                    bottom: -5px;
                    left: 50%;
                    background-color: #fff;
                }

                .dropdown-content {
                    display: flex;
                    padding: 30px;
                    flex-direction: column;
                    position: absolute;
                    top: 60px;
                    gap: 20px;
                    min-width: auto;
                    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    z-index: 1;

                    li {

                        &:hover {
                            display: block;

                        }

                        a {
                            text-decoration: none;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }

        }
    }

    .right {
        @include tablet{
            display: none;
        }
        @include mobile{
            display: none;
        }
        
        p {
            font-family: 'Montserrat', sans-serif;
            padding: 5px 15px;
            border: 2px solid white;
            cursor: pointer;
        }
    }

    .mobileV{
        position: absolute;
        @include mobile {
            position: static;
        }


        ul{
            background-color: transparent;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            margin: auto;
            height: 700px;
            width: 100vw;
            padding: 40px;
            list-style: none;
            @include mobile{
                height: 100vh;
            }

            li{
                display: flex;
                font-family: 'Montserrat', sans-serif;
                flex-direction: column;
                gap: 10px;
                padding: 20px 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                @include mobile{
                    max-height: 60px;
                }

                a{
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    text-decoration: none;
                }

                .dropdown-content{
                    height: 0;
                    padding: 0;
                    border: none;
                    position: static;
                    display: block;
                    padding: 10px;
                    @include mobile{
                        width: 90%;
                        margin-top: 10px;
                        background-color: transparent !important;
                    }

                    li{
                        border: none;
                    }
                }
            }
        }

        .mobile-toggle {
            display: none; // Hide the toggle button by default on larger screens
        
            // Mobile toggle button styles...
            span {
              display: block;
              width: 25px;
              height: 3px;
              background-color: #fff;
              margin-bottom: 5px;
              transition: transform 0.3s ease-in-out;
        
              &:last-child {
                margin-bottom: 0;
              }
            }
        
            &.open {
              // Styles for open/toggled state of the button
              span {
                &:first-child {
                  transform: translateY(8px) rotate(45deg);
                }
        
                &:nth-child(2) {
                  opacity: 0;
                }
        
                &:last-child {
                  transform: translateY(-8px) rotate(-45deg);
                }
              }
            }
          }
          @media (max-width: 768px) {
            .mobile-toggle {
              display: block; // Show the toggle button on smaller screens
            }
        }    
    }
    
}

