@import "../../style.scss";

.footer {
    width: 100%;
    height: auto;   
    padding: 140px 150px 55px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: relative;
    @include tablet{
        padding: 70px;
        height: auto;
    }
    @include mobile{
        padding: 70px 40px 40px;
        height: auto;
    }

    .fMain {
        // padding-top: 20px;
        display: flex;
        gap: 70px;
        // flex: 4;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        @include mobile{
        }

        .fLogo {

            h1 {
                font-family: 'Inter', sans-serif;
                font-size: 40px;
                color: #17234d;

                span {
                    color: #F58125;
                }
            }
        }

        .mainCenter {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
            grid-gap: 10px;
            @include mobile{
                grid-template-columns: repeat(2, 50%);
                grid-gap: 10px;
            }

            .mainContent:nth-of-type(3) {
                @include mobile{
                    margin-top: 30px;
                }
            }

            .mainContent:nth-of-type(4) {
                @include mobile{
                    margin-top: 30px;
                }
            }

            .mainContent {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: auto;

                h3 {
                    color: #444444;
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    list-style: none;
                    color: #505050;
                    font-family: 'Inter', sans-serif;
                    

                    li {
                        display: flex;
                        font-size: 14px;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: #F58125;
                        }

                        a {
                            color: #505050;

                            &:hover {
                                color: #F58125;
                            }
                        }
                    }
                }
            }
        }
    }

    .fMainMobile{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
    }

    .fRightsBottom {
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }

        p:nth-of-type(2) {
            cursor: pointer;
            transition: all .4s ease-in-out;
            @include mobile{
                font-size: 12px;
            }

            &:hover {
                color: #F58125;
            }
        }

        p {
            color: #505050;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            @include mobile{
                font-size: 12px;
            }

        }
    }
}